@media (max-width: 500px) {
    .action-account div {
        display: block;
    }
}

@media (max-width: 550px) {

    header .bg-header .size-logo {
        max-width: 55px;
    }

    header .bg-header .logo-text {
        font-size: 25px;
    }

    header nav {
        position: absolute;
        left: 0;
        top: 81px;
        z-index: 999;
        width: 0;
    }

    header nav ul {
        display: block;
    }

    header nav .parent {
        width: 200px;
        background-color: #395063;
        border: 1px solid #202d38;
        padding: 10px;
        height: 100vh;
        min-height: 500px;
        margin: 0;
    }

    header nav .object {
        display: block;
    }

    header nav .parent.show {
        left: 0px;
    }

    header nav .parent.hide {
        left: -200px;
    }

    nav .toggle {
        display: block;
    }

    header nav ul li {
        line-height: 40px;
    }

    header nav ul .sub-menu {
        margin-left: 30px;
    }


    .dashboard .tk {
        margin-top: 20px;
    }
}