@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}

.form-login {
    width: 90%;
    max-width: 500px;
    border: 1px solid #ececec;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0px 0px 10px rgb(182, 180, 180);
}

.logo {
    text-align: center;
}

.size-logo {
    max-width: 70px;
}

.logo-text {
    font-family: "Briem Hand", cursive;
    font-size: 30px;
}

.forget:hover, .create-account:hover{
    color: black;

}

.action-account > div{
    display: inline-block;
}

.input {
    border: none;
    outline: none;
}

.input-1 {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    width: 100%;
    height: 40px;
    padding: 10px 15px;
}

.group-input {
    padding: 5px 0;
}

.group-input label {
    padding: 5px 0;
    font-weight: 500;
}